body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  nav{
    width: 100%;
    position: fixed;
    z-index: 10;
    top:0px;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    width: 100%;
  }
  
  li {
    display: flex;
    justify-content: center;
    margin: 0 5px;
  }
  
  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #333; /* Text color /
    background-color: white; / Background color /
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px; / Adjust padding for better visibility /
    border-radius: 5px; / Add some border radius for style /
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a:hover {
    color: white;
    background-color: #ffcc00; / Change background color on hover */
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  li {
    animation: slideIn 0.5s ease-out;
  }
  @media screen and (max-width:600px){
    li {
      margin: 0;
      padding: 0px;
    }
    a{
      font-size: xx-small;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } 